@charset "utf-8";
@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import "bourbon";

.bg {
  position: absolute;
  @include background-image(url(../images/img_0.jpg));
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}


.contents {
  display: table-cell;
  position: absolute;
  top: 25%;
  z-index: 4;
  padding-left: 150px;
  font-weight: 300;
  font-size: 12px;

  .loggo {
    letter-spacing: 8px;
    background: white;
    display: inline-block;
    padding: 20px;
    font-size: 22px;
    font-weight: 600;
    color: black;
    cursor: default;
  }

  .description {
    position: relative;
    letter-spacing: 4px;
    margin-top: 35px;
    color: white;
    padding-left: 20px;
  }

  #border-left {
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 4%;
    bottom: 4%;
    margin-right: 25px;
    left: 0px;
  }

  .link {
    font-weight: 500;
    color: white;
  }

  .contact-us {
    letter-spacing: 4px;
    display: inline-block;
    margin-top: 50px;
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    text-decoration: none;
    @include transition( 1s );
    color: white;
    font-weight: 300;
    &:hover {
      background-color: rgba(255,255,255,0.4);
    }
  }
}
