/ .sect-banner
/   //.bg
/     .kf-slider
/       figure
/         .bg-wrapper
/       figure
/         .bg-wrapper
/       figure
/         .bg-wrapper
/       figure
/         .bg-wrapper
/       figure
/         .bg-wrapper
/   .bg
/   .contents
/     .loggo
/       | 42company
/     .description
/       | Hi! We’re 42comapny.</br> Bunch of people from different</br>cultures & nations are working together here.</br> Now we’re making 
/       a.link href="https://play.google.com/store/apps/details?id=company.fortytwo.slide.app" target="_blank"
/         | SLIDE
/       |  on android. </br>Pleased to meet you.
/       #border-left
/     a.contact-us href="mailto:contact@42.company"
/       | CONTACT US
.col-xs-12
  #snow
    .merry-chtistmas
      | Merry Christmas &</br>Happy New Year, 42!
    .xmas-42
    .description
      | Big hug & wishes from 42HQ <3
      .row
        a.button href="https://play.google.com/store/apps/details?id=company.fortytwo.slide.app" target="_blank"
          | Get <strong>SLIDE</strong>
        a.button href="mailto:contact@42.company"
          | CONTACT US
